[package]
name = "nvflex-sys"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["lib"]

[build-dependencies]
bindgen = "0.59.2"

[features]
default = ["D3D"]

# Linking
D3D = []
CUDA = []